$backgroundColorPreloader: #000;
$loaderColor: #8B7F7F;
$textColorHeader: #fff;
$backgroundColorSection: #cccccc;
$hColorSection: #2e0d0d;
$textColorSection: #4d4d4d;
$colorBoxShadow: #404040;
$backgroundColorProjects: #8d8d8d;